/*Article Stuff*/

.fatitem {
  text-rendering: optimizeLegibility;
  color: rgba(0, 0, 0, 0.8);
  font-style: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.fatitem .title, .title a {
  line-height: 48px;
  font-size: 40px;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  color: rgba(0, 0, 0, 0.84);
  margin: 0;
  letter-spacing: 0px;
}

.mainbody {
  flex-direction: column;
  max-width: 728px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
}

.itemlist {
  margin-top: 30px;
}

.fatitem .votelinks {
  display: none;
}

.fatitem .commentbody {
  background-color: #ffffff;
  border: 0px;
  border-radius: 0px;
  padding: 0px 0px;
}

.fatitem .comment {
  margin-top: 0.86em;
  font-size: 21px;
  margin-bottom: -0.46em;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: -0.004em;
  line-height: 1.58;
  color: rgba(0, 0, 0, 0.84);
  margin: 0;
}

header {
  display: none;
}

/*Article Editor Stuff*/

.newpost {
  width: 100%;
}

.memoarea {
  display: none;
}

.switchToArticleMode {
  display: none;
}

.switchToRegularMode {
  display: block;
}

.commentbody img {
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 100%;
  vertical-align: top;
  display: block;
  margin: 0 auto;
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
}