/*General*/

body {
  font: normal x-small verdana, arial, helvetica, sans-serif;
  font-style: normal;
  font-variant-caps: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: medium;
  line-height: normal;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size-adjust: none;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-variant-alternates: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-language-override: normal;
  font-feature-settings: normal;
  font-variation-settings: normal;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

p {
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
}

p:last-child {
  margin-bottom: 0px;
}

blockquote {
  border-left: 4px solid rgba(0, 0, 0, .2);
  margin: 4px 0 4px 8px;
  padding-left: 8px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table {
  background-color: transparent;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
}

th, tr:nth-child(2n) {
  background-color: #ffffff;
}

tr:nth-child(2n+1) {
  background-color: #f9f9f9;
}

th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  text-align: left;
  padding: 4px;
}

td {
  padding: 4px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.mainbody {
  padding-left: 20px;
  padding-right: 20px;
}

#map {
  position: absolute;
}

.separatorwide::before {
  content: " | ";
}

.separatornarrow::before {
  content: "|";
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #4cca47;
  /* old IE */
  background-color: #4cca47;
  /* Modern Browsers */
  margin-bottom: 5px;
  margin-top: 0px;
  width: 100%;
}

/* Header Stuff */

nav {
  line-height: 25px;
}

select{
  border: 1px;
  background:#cee3f8;
  
  font-family: verdana, arial, helvetica, sans-serif;
  cursor: pointer; 
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: -3px;
    padding-right: 1.2rem;
  }

select > option {
  background: #cee3f8;
}

@media only screen {
  header {
    border-bottom: 1px solid #4cca47;
    position: relative;
    background-color: #cee3f8;
    z-index: 99;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-top: 1px;
    font-size: small;
  }
  #balancedetails {
    font-weight: normal;
    cursor: pointer;
  }
  .loggedout {
    display: inline;
  }
  .memberlogoimage {
    vertical-align: middle;
    padding-left: 2px;
    padding-bottom: 2px;
  }
  .headerbuttons, .refreshbalance, .newpostbutton {
    font-size: large;
  }
  .sats {
    font-size: 0.6em;
    position: relative;
    bottom: 0.4em;
    text-decoration: underline;
  }
  .topiccontainer {
    padding-top: 2px;
    padding-right: 2px;
  }
  /* Breakline in header for small screen, 720 is about the point where it splits onto a second line
  probably a better way to handle this as topic container is still free floating and unwanted break appears*/
  @media only screen and (max-width: 860px) {
    .separatorwidebreakpoint::before {
      content: ' ';
      display: block;
    }
  }
  @media only screen and (min-width: 860px) {
    .separatorwidebreakpoint::before {
      content: " | ";
    }
  }
}

/* Footer Stuff */

footer {
  font-size: small;
  text-align: center;
  margin-top: 10px;
}

/* Posts */

@media only screen {
  /*For numbering color*/
  .posts {
    color: #c6c6c6;
  }
  .comhead {
    color: #888;
    font-size: x-small;
  }
  .comhead .likescounttext {
    display: inline-block;
  }
  .comhead span.score {
    font-weight: bold;
    color: #333;
  }
  .comhead .hnuser {
    font-weight: bold;
  }
  .title {
    font-size: medium;
    font-weight: normal;
    margin-bottom: 1px;
    color: #222;
  }
  .post {
    min-height: 55px;
  }
  .subtext {
    color: #888;
    font-size: x-small;
  }
  .subtextbuttons, .reply {
    display: block;
    padding-bottom: 1px;
    padding-top: 1px;
  }
  .subtextbuttons a {
    color: #888;
    font-weight: bold;
    padding: 0 1px;
    text-decoration: none;
    font-size: x-small;
  }
  .subtextbuttons a:hover {
    text-decoration: underline;
  }

  /*To keep number on the same line*/  
  .numberlineone{
    float: left;
    font-size:1px;
  }

/*Vote buttons*/

@media only screen {
  .likescounttext {
    display: none;
  }
  .votearrow {
    background: url("../img/uparrowgrey.svg");
  }
  .votearrowactivated {
    background: url("../img/uparrowgreen.svg");
  }
  .votearrowactivateddown {
    background: url("../img/uparrowblue.svg");
  }
  /*Different sizes for large and small screens*/
  @media only screen and (min-width: 600px) {
    .votearrow, .votearrowactivated, .votearrowactivateddown {
      width: 18px;
      height: 14px;
      border: 0px;
      margin: 1px 2px 0px;
      background-size: 18px 14px;
      display: block;
    }
  }
  @media only screen and (max-width: 600px) {
    .votearrow, .votearrowactivated, .votearrowactivateddown {
      width: 9px;
      height: 7px;
      border: 0px;
      margin: 1px 1px 0px;
      background-size: 9px 7px;
      display: block;
    }
  }
  .votearrow.rotate180, .votearrowactivated.rotate180, .votearrowactivateddown.rotate180 {
    -webkit-transform: rotate(180deg);
    /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg);
    /* FF */
    -o-transform: rotate(180deg);
    /* Opera */
    -ms-transform: rotate(180deg);
    /* IE9 */
    transform: rotate(180deg);
    /* W3C complaint browsers */
  }
  .betweenvotesscore, .betweenvotesscoreup, .betweenvotesscoredown {
    text-align: center;
    min-width: 10px;
    display: block;
    color: #c6c6c6;
    font-weight: bold;
    font-size: small;
  }
  .betweenvotesscoreup {
    color: #4cca47;
  }
  .betweenvotesscoredown {
    color: #9494FF;
  }
  .votelinks {
    float: left;
    padding-right: 4px;
  }
  .votetext {
    display: none;
  }
  .reply .betweenvotesscore, .reply .betweenvotesscoreup, .reply .betweenvotesscoredown {
    display: none;
  }
}

/* replies */

@media only screen {
  .reply {
    max-width: 60em;
  }
  .postdetails, .commentdetails {
    font: normal medium verdana, arial, helvetica, sans-serif;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 50px;
    color: #222222;
    padding-bottom: 8px;
  }
  .fatitem {
    border-bottom-style: dotted;
    border-width: 1px;
    padding-bottom: 5px;
    padding-top: 8px margin-bottom: 5px;
  }
  .blocked {
    opacity: 0.2;
  }
  /* Lists, used for displaying posts and threads */
  #highlightli {
    background-color: #ffd;
  }
  /* Desktop Screen */
  @media only screen and (min-width: 600px) {
    .comment-tree li {
      margin: 0px 0px 8px 10px;
      border: 1px solid #e6e6e6 !important;
      border-radius: 3px !important;
      padding: 5px 8px 5px 5px;
      overflow: hidden;
      font: normal verdana, arial, helvetica, sans-serif;
    }
    .comment-tree li li li li li li li li li li {
      margin-left: 1px;
      margin-right: 1px;
      padding-left: 1px;
      padding-right: 1px;
    }
    ol {
      padding-left: 20px;
    }
    ul {
      padding-left: 0px;
    }
    ul ul {
      padding-left: 15px;
    }
    .comment-tree ul ul ul ul ul ul ul ul {
      margin-left: 1px;
      margin-right: 1px;
      padding-left: 1px;
      padding-right: 1px;
    }
    li {
      background-color: white;
    }
    li li {
      background-color: #f7f7f8;
    }
    li li li {
      background-color: white;
    }
    li li li li {
      background-color: #f7f7f8;
    }
    li li li li li {
      background-color: white;
    }
    li li li li li li {
      background-color: #f7f7f8;
    }
    li li li li li li li {
      background-color: white;
    }
    li li li li li li li li {
      background-color: #f7f7f8;
    }
    li li li li li li li li li {
      background-color: white;
    }
    li li li li li li li li li li {
      background-color: #f7f7f8;
    }
    li li li li li li li li li li li {
      background-color: white;
    }
    li li li li li li li li li li li li {
      background-color: #f7f7f8;
    }
    li li li li li li li li li li li li li {
      background-color: white;
    }
    li li li li li li li li li li li li li li {
      background-color: #f7f7f8;
    }
  }
  /* Smaller Screen */
  @media only screen and (max-width: 600px) {
    .comment-tree li {
      margin: 0px 0px 2px 3px;
      border: none;
      border-left: 1px solid #e6e6e6 !important;
      padding: 2px 4px 2px 2px;
      overflow: hidden;
      font: normal verdana, arial, helvetica, sans-serif;
    }
    .comment-tree li li li li li li li li li li {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
    ol {
      padding-left: 14px;
    }
    ul {
      padding-left: 0px;
    }
    ul ul {
      padding-left: 5px;
    }
    .comment-tree ul ul ul ul ul ul ul ul {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  /*comment body - override list stuff*/
  .commentbody li {
    border: 0px solid #e6e6e6 !important;
    border-radius: 0px !important;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow: visible;
  }
  .commentbody li {
    background-color: inherit;
  }
  .commentbody ul {
    display: block;
    list-style: disc outside none;
    padding-left: 20px;
  }
  .commentbody ol {
    list-style-type: decimal;
  }
  .commentbody li {
    display: list-item;
  }
  .commentbody ul ul, ol ul {
    list-style-type: circle;
    margin-left: 15px;
  }
  .commentbody ol ol, ul ol {
    list-style-type: lower-latin;
    margin-left: 15px;
  }
}

/* Main Reply */

@media only screen {
  .fatitem .comhead {
    display: none;
  }
  .fatitem .reply .votelinks {
    visibility: hidden;
  }
  .fatitem .subtextbuttons {
    display: none;
  }
  .fatitem .commentbody {
    background-color: #fafafa;
    border: 1px solid #369;
    border-radius: 7px;
    padding: 5px 10px;
  }
  .fatitem .subtextbuttons {
    display: block;
  }
  .comment {
    font-size: 14px;
    line-height: 1.4285714285714286em;
    display: block;
  }

  /* Youtube, Imgur, Twitter */



/* No idea why 400% works here  */
.youtubepreview .play-icon {

  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  transform: translate(-50%, -50%);

}

.imgurcontainer{

}

.twittercontainer{

}


  @media only screen and (max-width: 860px) {
    .youtubepreviewimage{
      width: 100%;
      vertical-align: top;
    }

    .youtubepreview{
      position: relative;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;

    }
    .youtubeiframe {
      display: inline;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
      vertical-align: top;
    }
    .twitteriframe {
      display: inline;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
      vertical-align: top;
    }
    .imgurimage {
      display: inline;
      margin-top: 5px;
      margin-bottom: 5px;
      max-height: 300px;
      max-width: 100%;
      vertical-align: top;
    }
  }
  @media only screen and (min-width: 860px) {
    .youtubepreviewimage{
      width: 480px;
      height: 270px;
      vertical-align: top;  
    }

    .youtubepreview{
      position: relative;
      width: 480px;
      margin-top: 5px;
      margin-bottom: 5px;
      height: 270px;

    }
    .youtubeiframe {
      display: inline;
      margin-top: 5px;
      margin-bottom: 5px;
      height: 270px;
      width: 480px;
      vertical-align: top;
    }
    .twitteriframe {
      display: inline;
      margin-top: 5px;
      margin-bottom: 5px;
      height: 400px;
      width: 550px;
      vertical-align: top;
    }
    .imgurimage {
      display: inline;
      margin-top: 5px;
      margin-bottom: 5px;
      height: 300px;
      max-width: 100%;
      vertical-align: top;
    }
  }
}

/*Status bar*/

#status {
  background: #cccccc;
  color: #000000;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  font-size: small;
}

/*Loading image*/

.loading {
  background-image: url("../img/loading.gif");
  width: 100%;
  /*width of your image*/
  height: 72px;
  /*height of your image*/
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

/*Navigation Buttons*/

.navbuttons a {
  padding: 1px 4px;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-weight: bold;
  font-size: smaller;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: #369;
}

.navbuttons a:hover {
  border-color: #4cca47;
}

/*Notifications Page*/

.notificationitem {
  padding-bottom: 5px;
  padding-left: 5px;
}

.notificationicon {
  font-size: 18pt;
  float: left;
}

.notificationdetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 32px;
  padding-left: 5px;
}

.titleline {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.notificationslist {
  position: relative;
  padding-left: 0px;
  margin-bottom: 0px;
  list-style: none;
}

li.notificationitem::before {
  float: left;
  font-size: 18pt;
}

li.notificationlike::before {
  content: "💗";
}

li.notificationrating::before {
  content: "⭐";
}

li.notificationfollow::before {
  content: "👨";
}

li.notificationreply::before {
  content: "💬";
}

li.notificationpage::before {
  content: "📣";
}

.notificationtitle {
  font-size: medium;
  font-weight: normal;
  margin-bottom: 4px;
  color: #222;
}

.notificationminheight {
  min-height: 40px;
}

.notificationdetails .post {
  margin: 0px 0px 8px 4px;
  border: 1px solid #e6e6e6 !important;
  border-radius: 10px !important;
  padding: 5px 8px 0px 5px;
  overflow: hidden;
  background-color: #f7f7f8;
}

.notificationhr {
  height: 0px;
}

/*settings page*/

#settingsanchor {
  font-size: small;
}

.member, .ratings, .trustgraph, .community, .followers, .following, .blockers, .blocking {
  font-size: small;
}

label {
  display: block;
  padding-top: 10px;
  font-weight: bold;
}

/*member page*/

.memberratingcomment, .memberrating {
  display: inline-block;
}

.memberratinggroup {
  display: inline-flex;
}

.followers, .following, .follow, .muting, .muters, .mute {
  display: inline-block;
  padding-right: 10px;
}

/*New post page*/

.newpost {
  font-size: small;
  font-weight: bold;
}

textarea, .memorandumtitle, .memotopic, .memorandumtopic {
  width: 80%;
}

.geoposttextarea {
  width: 90%;
}

/*Topic List*/
.tlmessagecount, .tlsubscount,.tlagecount,.tlaction{
  text-align: right;
}

.tltopicname {
  word-wrap: anywhere;
}