/*variables - preferred way to change color is to override these in a new css*/

:root {
  --bodybgcolor: #ffffff;
  --bodytextcolor: #000000;
  --bitcoincash: #4cca47;
  --table2n: #ffffff;
  --table2np1: #f9f9f9;
  --tableborder: #ddd;
  --selectbox: #cee3f8;
  --selectboxcolor: #000000;
  --selectoptions: #cee3f8;
  --header: #cee3f8;
  --headerborder: #4cca47;
  --hr: #4cca47;
  --preformattedtext: #333;
  --preformattedbg: #f5f5f5;
  --preformattedborder: #ccc;
  --votenumbertext: #c6c6c6;
  --postsheadertext: #555;
  --postslikestext: #333;
  --titletext: #222;
  --postfootertext: #555555;
  --votescoredown: #9494FF;
  --highlightlibg: #ffd;
  --liborder: #e6e6e6;
  --libgcolor2np1: #ffffff;
  --libgcolor2n: #ffffff;
  --replybgcolor: #fafafa;
  --replyborder: #369;
  --statusbar: #cccccc;
  --statusbartext: #000000;
  --navbuttonsbg: #eee;
  --navbuttonsborder: #ddd;
  --navbuttonstext: #369;
  --notificationtitle: #222;
  --linkcolor: #0000EE;
  --loginbutton:#008CBA;
}

/*General*/

body {
  font: normal x-small verdana, arial, helvetica, sans-serif;
  font-style: normal;
  font-variant-caps: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: medium;
  line-height: normal;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size-adjust: none;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-variant-alternates: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-language-override: normal;
  font-feature-settings: normal;
  font-variation-settings: normal;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  word-wrap: break-word;
  background-color: var(--bodybgcolor);
  color: var(--bodytextcolor);
}

a {
  text-decoration: none;
  color: var(--linkcolor);
}

p {
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
}

p:last-child {
  margin-bottom: 0px;
}

blockquote {
  border-left: 4px solid rgba(0, 0, 0, .2);
  margin: 4px 0 4px 8px;
  padding-left: 8px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: var(--preformattedtext);
  word-break: break-all;
  word-wrap: break-word;
  background-color: var(--preformattedbg);
  border: 1px solid var(--preformattedborder);
  border-radius: 4px;
}

table {
  background-color: transparent;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
}

th, tr:nth-child(2n) {
  background-color: var(--table2n);
}

tr:nth-child(2n+1) {
  background-color: var(--table2np1);
}

th {
  vertical-align: bottom;
  border-bottom: 2px solid var(--tableborder);
  text-align: left;
  padding: 4px;
}

td {
  padding: 4px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid var(--tableborder);
}

.mainbody {
  padding-left: 20px;
  padding-right: 20px;
}

#map {
  position: absolute;
}

.separatorwide::before {
  content: " | ";
}

.separatornarrow::before {
  content: "|";
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: var(--hr);
  /* old IE */
  background-color: var(--hr);
  /* Modern Browsers */
  margin-bottom: 5px;
  margin-top: 0px;
  width: 100%;
}

/* Header Stuff */

nav {
  line-height: 25px;
}

.membertext a {
  color: var(--bodytextcolor);
}

select {
  border: 1px;
  background: var(--selectbox);
  color: var(--selectboxcolor);
  font-family: verdana, arial, helvetica, sans-serif;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: -3px;
  padding-right: 1.2rem;
}

select>option {
  background: var(--selectoptions);
}

@media only screen {
  header {
    border-bottom: 1px solid var(--headerborder);
    position: relative;
    background-color: var(--header);
    z-index: 99;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-top: 1px;
    font-size: small;
  }
  #balancedetails {
    font-weight: normal;
    cursor: pointer;
  }
 

  .loggedout {
    display: inline;
  }
  .memberlogo {
    vertical-align: middle;
    position: relative;
  }
  .memberlogoimage {
    vertical-align: middle;
    position: relative;
    padding-bottom: 2px;
  }

  .headerbuttons, .refreshbalance, .newpostbutton {
    font-size: large;
  }
  .alertcount:not(:empty) {
    position: relative;
    top: -10px;
    left: -13px;
    background-color: #ff0000;
    border-radius: 40%;
    color: #f4f4f4;
    font-weight: bold;
    padding: 2px;
    font-size: xx-small;
    z-index: 10;
    margin-right: -14px; 
  }
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }
  .headerbuttons a {
    color: var(--bodytextcolor);
  }
  .sats {
    font-size: 0.6em;
    position: relative;
    bottom: 0.4em;
    text-decoration: underline;
  }
  .topiccontainer {
    padding-top: 2px;
    padding-right: 2px;
  }
  .inlinelabel {
    display: inline;
    font-weight: normal;
    font-size: x-small;
    color: #373737;
  }

}

  /* Breakline in header for small screen, 720 is about the point where it splits onto a second line
  probably a better way to handle this as topic container is still free floating and unwanted break appears*/
  @media only screen and (max-width: 860px) {
    .separatorwidebreakpoint::before {
      content: ' ';
      display: block;
    }
    .memberlogoimagefull {display:none;}
    .memberlogoimage {display:inline;}
  }
  @media only screen and (min-width: 860px) {
    .separatorwidebreakpoint::before {
      content: " | ";
    }
    .memberlogoimagefull {display:inline;}
    .memberlogoimage {display:none;}
  }

/* Footer Stuff */

footer {
  font-size: small;
  text-align: center;
  margin-top: 10px;
}


/* Login/Create New Account Stuff */

.loginbox {
  text-align: center;
}

.loginbutton {
  background-color: var(--loginbutton);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.loginnotes{
  font-size:x-small;
}

.message{
  color:var(--postsheadertext);
}

.alert {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  margin: 5px;
  padding: 5px;
}

.lowfundsaddressdiv {
  float: right;
}

/* Posts */

@media only screen {
  /*For numbering color*/
  .posts {
    color: var(--votenumbertext);
  }
  .comhead {
    color: var(--postsheadertext);
    font-size: x-small;
  }
  .comhead .likescounttext {
    display: inline-block;
  }
  .comhead span.score {
    color: var(--postslikestext);
  }
  .comhead .hnuser {
    font-weight: bold;
  }
  .title {
    font-size: medium;
    font-weight: normal;
    margin-bottom: 1px;
    color: var(--titletext);
  }
  .title p {
    margin-top: 0px;
  }

  .post {
    min-height: 55px;
  }
  .subtext {
    color: var(--postfootertext);
    font-size: x-small;
  }
  .subtextbuttons, .reply {
    display: block;
    padding-bottom: 1px;
    padding-top: 1px;
  }
  .subtextbuttons a {
    color: var(--postsheadertext);
    font-weight: bold;
    padding: 0 1px;
    text-decoration: none;
    font-size: x-small;
  }
  .subtextbuttons a:hover {
    text-decoration: underline;
  }
  /*To keep number on the same line*/
  .numberlineone {
    float: left;
    font-size: 1px;
  }
  .memberpicturesmall {
    width: 15px;
    height: 15px;
    margin-bottom: -3px;
    margin-right: 2px;
  }
  .memberpicturelarge {
    width: 640px;
    height: 640px;
  }
  .jdenticon {
    width: 15px;
    height: 15px;
    margin-bottom: -3px;
    margin-right: 2px;
  }
  .jdenticonlarge {
    width: 100px;
    height: 100px;
  }
  .starrating {
    display: inline;
  }
  .memberfilter {
    display: inline;
    font-size: inherit;
  }
  .remembersinactive {
    cursor: default;
  }
  .remembersinactive a:hover {
    text-decoration: none;
  }
}

/*Vote buttons*/

@media only screen {
  .likescounttext {
    display: none;
  }
  .votearrow {
    background: url("../img/membertheme/uparrowgrey.svg");
  }
  .votearrowactivated {
    background: url("../img/membertheme/uparrowgreen.svg");
  }
  .votearrowactivateddown {
    background: url("../img/membertheme/uparrowblue.svg");
  }
  .votearrow, .votearrowactivated, .votearrowactivateddown {
    width: 18px;
    height: 14px;
    border: 0px;
    margin: 1px 2px 0px;
    background-size: 18px 14px;
    display: block;
  }
  .votearrow.rotate180, .votearrowactivated.rotate180, .votearrowactivateddown.rotate180 {
    -webkit-transform: rotate(180deg);
    /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg);
    /* FF */
    -o-transform: rotate(180deg);
    /* Opera */
    -ms-transform: rotate(180deg);
    /* IE9 */
    transform: rotate(180deg);
    /* W3C complaint browsers */
  }
  .betweenvotesscore, .betweenvotesscoreup, .betweenvotesscoredown {
    text-align: center;
    min-width: 10px;
    display: block;
    color: var(--votenumbertext);
    font-weight: bold;
    font-size: small;
  }
  .betweenvotesscoreup {
    color: var(--bitcoincash);
  }
  .betweenvotesscoredown {
    color: var(--votescoredown);
  }
  .votelinks {
    float: left;
    padding-right: 4px;
  }
  .votetext {
    display: none;
  }
  .reply .betweenvotesscore, .reply .betweenvotesscoreup, .reply .betweenvotesscoredown {
    display: none;
  }
}

/* replies */

@media only screen {
  .reply {
    max-width: 60em;
  }
  .postdetails, .commentdetails {
    font: normal medium verdana, arial, helvetica, sans-serif;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 50px;
    color: var(--titletext);
    padding-bottom: 8px;
  }
  .fatitem {
    border-bottom-style: dotted;
    border-width: 1px;
    padding-bottom: 5px;
    padding-top: 8px;
    margin-bottom: 5px;
  }
  .blocked {
    opacity: 0.2;
  }
  /* Lists, used for displaying posts and threads */
  .highlightli {
    background-color: var(--highlightlibg);
  }
  /* Desktop Screen */
  @media only screen and (min-width: 600px) {
    .comment-tree li {
      margin: 0px 0px 0px 10px;
      border-left: 1px solid var(--liborder) !important;
      border-radius: 3px !important;
      padding: 5px 8px 0px 5px;
      overflow: hidden;
      font: normal verdana, arial, helvetica, sans-serif;
    }
    .comment-tree li li li li li li li li li li {
      margin-left: 1px;
      margin-right: 1px;
      padding-left: 1px;
      padding-right: 1px;
    }
    ol {
      padding-left: 20px;
    }
    ul {
      padding-left: 0px;
    }
    ul ul {
      padding-left: 15px;
    }
    .comment-tree ul ul ul ul ul ul ul ul {
      margin-left: 1px;
      margin-right: 1px;
      padding-left: 1px;
      padding-right: 1px;
    }
    li {
      background-color: var(--libgcolor2np1);
    }
    li li {
      background-color: var(--libgcolor2n);
    }
    li li li {
      background-color: var(--libgcolor2np1);
    }
    li li li li {
      background-color: var(--libgcolor2n);
    }
    li li li li li {
      background-color: var(--libgcolor2np1);
    }
    li li li li li li {
      background-color: var(--libgcolor2n);
    }
    li li li li li li li {
      background-color: var(--libgcolor2np1);
    }
    li li li li li li li li {
      background-color: var(--libgcolor2n);
    }
    li li li li li li li li li {
      background-color: var(--libgcolor2np1);
    }
    li li li li li li li li li li {
      background-color: var(--libgcolor2n);
    }
    li li li li li li li li li li li {
      background-color: var(--libgcolor2np1);
    }
    li li li li li li li li li li li li {
      background-color: var(--libgcolor2n);
    }
    li li li li li li li li li li li li li {
      background-color: var(--libgcolor2np1);
    }
    li li li li li li li li li li li li li li {
      background-color: var(--libgcolor2n);
    }
    .collapsed {
      margin-left: 34px !important;
    }

  }
  /* Smaller Screen */
  @media only screen and (max-width: 600px) {
    .comment-tree li {
      margin: 0px 0px 2px 3px;
      border: none;
      border-left: 1px solid #e6e6e6 !important;
      padding: 2px 4px 2px 2px;
      overflow: hidden;
      font: normal verdana, arial, helvetica, sans-serif;
    }
    .comment-tree li li li li li li li li li li {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
    ol {
      padding-left: 14px;
    }
    ul {
      padding-left: 0px;
    }
    ul ul {
      padding-left: 5px;
    }
    .comment-tree ul ul ul ul ul ul ul ul {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
    .collapsed {
      margin-left: 28px !important;
    }
  }
  /*comment body - override list stuff*/
  .commentbody li {
    border: 0px solid var(--liborder) !important;
    border-radius: 0px !important;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow: visible;
  }
  .commentbody li {
    background-color: inherit;
  }
  .commentbody ul {
    display: block;
    list-style: disc outside none;
    padding-left: 20px;
  }
  .commentbody ol {
    list-style-type: decimal;
  }
  .commentbody li {
    display: list-item;
  }
  .commentbody ul ul, ol ul {
    list-style-type: circle;
    margin-left: 15px;
  }
  .commentbody ol ol, ul ol {
    list-style-type: lower-latin;
    margin-left: 15px;
  }

}

/* Main Reply */

@media only screen {
  .fatitem .comhead {
    display: none;
  }
  .fatitem .reply .votelinks {
    visibility: hidden;
  }
  .fatitem .subtextbuttons {
    display: none;
  }
  .fatitem .commentbody {
    background-color: var(--replybgcolor);
    border: 1px solid var(--replyborder);
    border-radius: 7px;
    padding: 5px 10px;
  }
  .fatitem .subtextbuttons {
    display: block;
  }
  .comment {
    font-size: 14px;
    line-height: 1.4285714285714286em;
    display: block;
  }
  /* Youtube, Imgur, Twitter */
  /* No idea why 400% works here  */
  .youtubepreview .play-icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    transform: translate(-50%, -50%);
  }
  .imgurcontainer {}
  .twittercontainer {}
  .commentbody img, .imgurimage {
    display: inline;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 300px;
    max-width: 100%;
    vertical-align: top;
    align-content: center;
  }
  @media only screen and (max-width: 860px) {
    .youtubepreviewimage {
      width: 100%;
      max-height: 270px;
      vertical-align: top;
    }
    .youtubepreview {
      position: relative;
      width: 100%;
      max-height: 270px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .youtubeiframe {
      display: inline;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
      vertical-align: top;
    }
    .twitteriframe {
      display: inline;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
      vertical-align: top;
    }
  }
  @media only screen and (min-width: 860px) {
    .youtubepreviewimage {
      width: 480px;
      height: 270px;
      vertical-align: top;
    }
    .youtubepreview {
      position: relative;
      margin-top: 5px;
      margin-bottom: 5px;
      height: 270px;
      width: 480px;
    }
    .youtubeiframe {
      display: inline;
      margin-top: 5px;
      margin-bottom: 5px;
      height: 270px;
      width: 480px;
      vertical-align: top;
    }
    .twitteriframe {
      display: inline;
      margin-top: 5px;
      margin-bottom: 5px;
      height: 400px;
      width: 550px;
      vertical-align: top;
    }
  }
}

/*Status bar*/

#status {
  background: var(--statusbar);
  color: var(--statusbartext);
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  font-size: small;
}

/*Loading image*/

.loading {
  background-image: url("../img/membertheme/loading.gif");
  width: 100%;
  /*width of your image*/
  height: 72px;
  /*height of your image*/
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

/*Navigation Buttons*/

.navbuttons a {
  padding: 1px 4px;
  background: var(--navbuttonsbg);
  border: 1px solid var(--navbuttonsborder);
  border-radius: 3px;
  font-weight: bold;
  font-size: smaller;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: var(--navbuttonstext);
}

.navbuttons a:hover {
  border-color: var(--bitcoincash);
}

/*Notifications Page*/

.notificationitem {
  padding-bottom: 5px;
  padding-left: 5px;
}

.notificationicon {
  font-size: 18pt;
  float: left;
}

.notificationdetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 32px;
  padding-left: 5px;
}

.titleline {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.notificationslist {
  position: relative;
  padding-left: 0px;
  margin-bottom: 0px;
  list-style: none;
}

li.notificationitem::before {
  float: left;
  font-size: 18pt;
}

li.notificationlike::before {
  content: "💗";
}

li.notificationrating::before {
  content: "⭐";
}

li.notificationfollow::before {
  content: "👨";
}

li.notificationreply::before {
  content: "💬";
}

li.notificationpage::before {
  content: "📣";
}

li.notificationrepost::before {
  content: "🔗";
}


.notificationtitle {
  font-size: medium;
  font-weight: normal;
  margin-bottom: 4px;
  color: var(--notificationtitle);
}

.notificationminheight {
  min-height: 40px;
}

.notificationdetails .post {
  margin: 0px 0px 8px 4px;
  border: 1px solid var(--liborder) !important;
  border-radius: 10px !important;
  padding: 5px 8px 0px 5px;
  overflow: hidden;
  background-color: var(--libgcolor2n);
}

.notificationhr {
  height: 0px;
}

/*settings page*/

#settingsanchor, #toolsanchor, #messagesanchor {
  font-size: small;
}

.member, .anchorratings, .trustgraph, .community, .followers, .following, .blockers, .blocking {
  font-size: small;
}

label {
  display: block;
  padding-top: 10px;
  font-weight: bold;
}

.checkboxlabel {
  display: inline;
  font-weight: normal;
}

.qrcodeclick {
  cursor: pointer;
  font-size: x-small;
}

/*member page*/

.memberratingcomment, .memberrating {
  display: inline-block;
}

.memberratinggroup {
  display: inline-flex;
}

.followers, .following, .follow, .muting, .muters, .mute {
  display: inline-block;
  padding-right: 10px;
}

/*New post page*/

.newpost {
  font-size: small;
  width: 80%;
}

textarea, .memorandumtitle, .memotopic, .memorandumtopic {
  width: 99%;
}

.geoposttextarea {
  width: 90%;
}

.switchToArticleMode {
  display: block;
}

.switchToRegularMode {
  display: none;
}

/*Topic List*/

.tlmessagecount, .tlsubscount, .tlagecount {
  text-align: right;
}

.tlaction {
  text-align: left;
}

.tltopicname {
  word-wrap: anywhere;
}

/*Article Mode*/

.article .fatitem {
  text-rendering: optimizeLegibility;
  color: rgba(0, 0, 0, 0.8);
  font-style: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.article .fatitem .title, .article .title a {
  line-height: 48px;
  font-size: 40px;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  color: rgba(0, 0, 0, 0.84);
  margin: 0;
  letter-spacing: 0px;
}

.article .mainbody {
  flex-direction: column;
  max-width: 728px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
}

.article .itemlist {
  margin-top: 30px;
}

.article .fatitem .votelinks {
  display: none;
}

.article .fatitem .commentbody {
  background-color: #ffffff;
  border: 0px;
  border-radius: 0px;
  padding: 0px 0px;
}

.article .fatitem .comment {
  margin-top: 0.86em;
  font-size: 21px;
  margin-bottom: -0.46em;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: -0.004em;
  line-height: 1.58;
  color: rgba(0, 0, 0, 0.84);
  margin: 0;
}

.article header {
  display: none;
}

/*Article Editor Stuff*/

.article .newpost {
  width: 100%;
}

.article .memoarea {
  display: none;
}

.article .switchToArticleMode {
  display: none;
}

.article .switchToRegularMode {
  display: block;
}

.article .commentbody img {
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 100%;
  vertical-align: top;
  display: block;
  margin: 0 auto;
}

.article p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.article .permalink {
  display: none;
}

.profilepreview {
  position: absolute;
background: var(--bodybgcolor);
border: 1px solid var(--preformattedborder);
border-radius: 0.5rem;
padding: 1rem;
z-index: 99;
width: 400px;
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.scoreexpanded .tipdetails {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0.5rem 0;
}

.quotepost{
  border: 1px solid var(--preformattedborder);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}