body {

    font: normal x-small verdana,arial,helvetica,sans-serif;
        font-style: normal;
        font-variant-caps: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: x-small;
        line-height: normal;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size-adjust: none;
        font-kerning: auto;
        font-optical-sizing: auto;
        font-variant-alternates: normal;
        font-variant-east-asian: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        font-variant-position: normal;
        font-language-override: normal;
        font-feature-settings: normal;
        font-variation-settings: normal;

        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
}

li{
    font-size:medium;
    color: #c6c6c6;
}

a {
    text-decoration: none;
}


header {
    border-bottom: 1px solid #4cca47;
    position: relative;
    background-color: #cee3f8;
    z-index: 99;
    margin-bottom:5px;
}

.memberlogoimage {

    vertical-align: middle;
    padding-left: 2px;
    padding-bottom: 2px;

}

.title {

    font-size: medium;
    font-weight: normal;
    margin-bottom: 1px;
    color: #222;

}

.post {
    min-height: 55px;
}

.subtext {
    color: #888;
    font-size: x-small;
}

.subtextbuttons, .reply{
    display: block;
    padding-bottom: 1px;
    padding-top: 1px;
}


.subtextbuttons a, .comment a {

    color: #888;
    font-weight: bold;
    padding: 0 1px;
    text-decoration: none;
    font-size: x-small;
}


    .subtextbuttons a:hover {text-decoration: underline;}




.likescounttext{
    display:none;
}

.votearrow {
    width:      18px;
    height:     14px;
    border:     0px;
    margin:     1px 2px 0px;
    background: url("../img/uparrowgrey.svg");
    background-size: 18px 14px;
    display: block;
  }

  .votearrowactivated {
    width:      18px;
    height:     14px;
    border:     0px;
    margin:     1px 2px 0px;
    background: url("../img/uparrowgreen.svg");
    background-size: 18px 14px;
    display: block;
  }

  .votearrowactivateddown {
    width:      18px;
    height:     14px;
    border:     0px;
    margin:     1px 2px 0px;
    background: url("../img/uparrowblue.svg");
    background-size: 18px 14px;
    display: block;
  }


  .votearrow.rotate180, .votearrowactivated.rotate180, .votearrowactivateddown.rotate180 {
    -webkit-transform: rotate(180deg) ;  /* Chrome and other webkit browsers */
    -moz-transform:    rotate(180deg) ;  /* FF */
    -o-transform:      rotate(180deg) ;  /* Opera */
    -ms-transform:     rotate(180deg) ;  /* IE9 */
    transform:         rotate(180deg) ;  /* W3C complaint browsers */
  }

  .betweenvotesscore, .betweenvotesscoreup, .betweenvotesscoredown {
    text-align: center;
    min-width: 10px;
    display: block;
    color: #c6c6c6;
    font-weight: bold;
    font-size: small;
}

.betweenvotesscoreup{
    color:  #4cca47;
}

.betweenvotesscoredown{
    color:  #9494FF;
}


.votelinks {
    float: left;
    padding-right: 4px;
}

.votetext{
    display:none;
  }

.postdetails, .commentdetails {

    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 50px;
    color: #222222;
    padding-bottom: 8px;
}

.fatitem {

    border-bottom-style: dotted;
    border-width: 1px;
    padding-bottom: 5px;
    padding-top: 8px
    margin-bottom: 5px;

}

.comment-tree li {

    margin: 0 8px 8px 10px !important;
    border: 1px solid #e6e6e6 !important;
    border-radius: 3px !important;
    padding: 5px 8px 5px 5px !important;
    overflow: hidden;
    color: #222222;
    font-size: 14px;
    line-height: 1.4285714285714286em;
    font: normal verdana,arial,helvetica,sans-serif;
}

ul {
    padding-left: 0px;
}

ul ul {
    padding-left: 15px;
}

li{
    background-color: white;
}

li li{
    background-color: #f7f7f8;
}

li li li{
    background-color: white;
}

li li li li{
    background-color: #f7f7f8;
}

li li li li li{
    background-color: white;
}

li li li li li li{
    background-color: #f7f7f8;
}

li li li li li li li{
    background-color: white;
}

li li li li li li li li{
    background-color: #f7f7f8;
}

.reply{
    max-width: 60em;
}

.reply {
    display:none;
}

.comhead
    {
        color: #888;
        font-size: x-small;
    }

.comhead .likescounttext{
    display: inline-block;
}

.comhead span.score {

    font-weight: bold;
    color: #333;

}

.comhead .hnuser{
    font-weight: bold;
}

hr{
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #4cca47; /* old IE */
    background-color:  #4cca47; /* Modern Browsers */
    margin-bottom:5px;
    margin-top:0px;
    width: 100%;
  }

  footer{
    text-align: center;
    margin-top: 10px;
  }

  label {
    display: block;
    padding-top: 10px;
    font-weight: bold;
  }

  .followers, .following, .follow, .muting, .muters, .mute {
    display: inline-block;
    padding-right:10px;
  }

  .memberratingcomment, .memberrating {
    display: inline-block;
  }
  .memberratinggroup{
    display: inline-flex;
  }


  .applicationpage{
    margin-left:5px;
    margin-top:5px;
    margin-right:5px;
    margin-bottom:5px;
  }
.blocked {
  opacity: 0.2;
}


.topiccontainer {
    padding-top: 2px;
    padding-right: 2px;
  }

  #status {
    background:#cccccc;
    color:#000000;
    bottom:0;
    right:0;
    margin:0;
    padding:0;
    position:fixed;
  }

  .loading {
    background-image:url("../img/loading.gif");
    width:100%; /*width of your image*/
    height:72px; /*height of your image*/
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
  }

  .navbuttons a {
    padding: 1px 4px;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-weight: bold;
    font-size: larger;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    
    text-decoration: none;
    color: #369;
}

.navbuttons a:hover {border-color:  #4cca47; }

#settings {

    font-size: small;

}

.mainbody {

    padding-left: 20px;
    padding-right: 20px;

}

.notificationitem{ 
    padding-bottom: 5px;
    padding-left: 5px;
  }
  
  .notificationicon{ 
    font-size: 18pt;
    float:left;
  }
  
  .notificationdetails{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 32px;
    padding-left: 5px;
  }
  
  .titleline{
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .notificationslist {
    position: relative;
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
  }
  
  li::before{
    float: left;
    font-size: 18pt;
  }
  
  
  
    li.notificationlike::before {
      content: "💗";
    }
    li.notificationrating::before {
      content: "⭐";
    }
    li.notificationfollow::before {
      content: "👨";
    }
    li.notificationreply::before {
      content: "💬";
    }

    .notificationtitle {

        font-size: medium;
        font-weight: normal;
        margin-bottom: 4px;
        color: #222;
    
    }

    .newpost{
        font-size: small;
        font-weight: bold;
    }

    .member, .ratings, .trustgraph, .community, .followers, .following, .blockers, .blocking{
        font-size: small;
    }

    #map {
        position: absolute;
      }