body {
  background-color: #222;
}

.comment {
  color: #828282;
}

body>b {
  color: #A5A5A5;
  font-size: 24px;
}

body a, body a:link {
  color: #FFF;
}

body>a {
  color: #ff6600;
}

table#hnmain {
  background-color: #282a2e;
}

table#hnmain>tbody>tr:first-child a, table#hnmain>tbody>tr:first-child a:link, table#hnmain>tbody>tr:first-child a:visited {
  color: #222;
}

table#hnmain td {
  color: #A5A5A5;
}

table#hnmain td.title a.storylink {
  color: #FAFAFA;
}

table#hnmain td.title span.sitebit {
  color: #F2F2F2;
}

table#hnmain td.votelinks div.votearrow {
  background: none;
  border-color: #D9D9D9 transparent;
  border-style: solid;
  border-width: 0px 7px 7px 7px;
  height: 0;
  right: 0;
  width: 0;
  margin: 6px 4px 0px 0px;
}

table#hnmain td.subtext .discuss-link {
  color: #6AA7F6;
}

table#hnmain td.subtext .discuss-link:visited {
  color: #E8CFEB;
}

table#hnmain div.comment, table#hnmain div.comment p, table#hnmain div.comment span, table#hnmain div.comment a, table#hnmain div.comment pre, table#hnmain div.comment code, table#hnmain div.comment div {
  color: #F2F2F2;
}

table#hnmain div.comment a:visited {
  color: #E8CFEB;
}

table#hnmain a.hnuser {
  color: #99819E;
}

table#hnmain a.hnuser:visited {
  color: #9B83AB;
}

table#hnmain .yclinks a {
  color: #E3E3E3;
}

body textarea {
  background-color: #222;
  color: #F2F2F2;
  border: none;
  padding: 8px;
  border-radius: 8px;
}

body input {
  padding: 8px;
  background-color: #282a2e;
  color: #F2F2F2;
  border: none;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 3px solid #D9D9D9;
}

body input:focus {
  border-bottom-color: #ff6600;
}

input[type="submit"], a.morelink {
  background-color: #222;
  border: 1px solid #A5A5A5;
  color: #F2F2F2;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px;
}

input[type="submit"]:hover, a.morelink:hover {
  background-color: #282a2e;
}

/* Desktop Screen */

@media only screen and (min-width: 600px) {
  
  li {
    background-color: #222;
  }
  li li {
    background-color: #070708;
  }
  li li li {
    background-color: #222;
  }
  li li li li {
    background-color: #070708;
  }
  li li li li li {
    background-color: #222;
  }
  li li li li li li {
    background-color: #070708;
  }
  li li li li li li li {
    background-color: #222;
  }
  li li li li li li li li {
    background-color: #070708;
  }
  li li li li li li li li li {
    background-color: #222;
  }
  li li li li li li li li li li {
    background-color: #070708;
  }
  li li li li li li li li li li li {
    background-color: #222;
  }
  li li li li li li li li li li li li {
    background-color: #070708;
  }
  li li li li li li li li li li li li li {
    background-color: #222;
  }
  li li li li li li li li li li li li li li {
    background-color: #070708;
  }
}

#highlightli {
  background-color: 
  #002;
}

.highlight {
  background-color: 
  #121230;
}

header { background-color: #000; }
select > option {    background:  #000;}