.fatitem {
  .reply {
    // styles for long text-post
    div:only-child {
      display: flex;
      flex-direction: row;
    }
    .votelinks {
      a,
      span {
        display: none;
      }
    }
    .comhead,
    .subtextbuttons {
      display: none;
    }
    .commentdetails {
      padding: $base-padding;
    }
  }
}

.comment-tree {
  @include card;
  padding: $base-padding/2 0;
  ul {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      &.collapsed {
        margin-left: 2.25rem;
        font-size: $font-size-tiny;
        padding: $base-padding/2 0;
        font-weight: bold;
      }
      .reply {
        margin-bottom: $base-padding;
        div:only-child {
          display: flex;
          flex-direction: row;
          .votelinks {
            background: $white;
            position: relative;
            &:before {
              content: "";
              position: absolute;
            }
            .betweenvotesscoredown,
            .betweenvotesscore,
            .betweenvotesscoreup {
              display: none;
            }
          }
          .commentdetails {
            padding: $base-padding $base-padding $base-padding 0;
            width: 100%;

            .comhead {
              font-size: 0.75rem;
              color: rgba(0, 0, 0, 0.54);
              margin-bottom: 0.5rem;
              font-weight: bold;
            }
            .comment {
              font-size: 1rem;
              .commentbody {
                @include word-wrap;
              }
              // .subtextbuttons {
              //   font-size: 0.75rem;
              //   display: flex;
              //   a {
              //     margin-right: 0.5rem;
              //     color: $text-secondary;
              //     &:hover {
              //       color: $text-primary;
              //     }
              //   }
              // }
            }
          }
        }
      }
      ul {
        margin-left: 2.5rem;
        border-left: 1px solid #e6e6e6 !important;
      }
    }
  }
}
