header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); //#4dc846;
  width: 100%;
  background: white;
  box-shadow: 0px 1px 5px -3px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 1071;
  min-height: 61px;

  .pagetop {
    min-height: 61px;
    nav {
      min-height: 61px;
      display: flex;
      // align-items: center;
      flex-flow: row;
      justify-content: center;
      @include container-fluid;

      @include media(">tablet", "<desktop") {
        @include container-fluid;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
      }

      @include media(">desktop") {
        @include container;
      }

      .memberlogo {
        margin-right: 15px;

        display: flex;
        align-items: center;
        height: auto;
        a {
          width: max-content;
          img {
            margin-top: 0;
            outline: none;
            height: 2.4rem;
            width: 2.4rem;

            @include media(">desktop") {
              height: 2rem;
              width: 2rem;
            }
          }
        }
      }
      .membertext {
        // margin-right: auto;

        display: none;
        @include media(">desktop") {
          display: flex;
          align-items: center;
          text-transform: capitalize;
          padding: 0.75rem 0;
          margin-right: auto;
          padding: 0;
        }

        font-size: 1.25rem;
        a {
          color: $theme-primary;
        }
      }
      .navitemsmain {
        overflow: auto;

        white-space: nowrap;
        // padding: 0.5rem 0;

        margin-right: -15px;
        display: flex;
        height: auto;
        align-items: center;

        // border-top: 1px solid rgba(0, 0, 0, 0.12);
        @include media(">tablet") {
          margin: initial;
        }

        @include media(">desktop") {
          border-top: none;
          margin: initial;
        }
        #loggedin {
          height: 100%;
        }

        .headerbuttons {
          display: flex;
          height: 100%;
          align-items: center;
          a,
          span {
            padding: 0.5rem 1rem;
            height: 100%;
            align-items: center;
            display: flex;

            @include media(">desktop") {
              padding: 0.5rem;
            }
          }
          a {
            &:hover {
              background-color: rgba(0, 0, 0, 0.06);
            }
          }

          #balance {
            font-weight: bold;
            padding: 0;
          }
          #mapbutton {
            margin-right: 0.75rem;
          }
        }
      }
      // .separatorwidebreakpoint {
      //   background: black;
      //   height: 1rem;
      //   width: 1rem;
      //   margin-left: auto;
      //   @include media(">desktop") {
      //     display: none;
      //   }
      // }

      .alertcount {
        background: $theme-danger;
        font-size: 0.6rem;
        border-radius: 1rem;
        padding: 0.1rem 0.2rem !important;
        color: white;
        font-weight: bold;
        margin-left: 0.25rem;

        top: 0.8rem;
        left: 0.8rem;
        position: absolute !important;
        height: auto !important;

        &:empty {
          display: none !important;
        }
      }

      #notificationsbutton,
      #privatemessagesbutton {
        position: relative;
      }
      .headerbuttons {
        @include media(">desktop") {
          margin-right: auto;
        }
      }
      .btn {
        // margin-right: 0.75rem;
      }

      .topiccontainer {
        display: flex;
        height: 100%;
        align-items: center;

        select {
          // min-width: 50px;
          margin-right: 0.75rem;
          height: 1.865rem;
          padding: 0.25rem;
          // font-size: 1rem;
          // border: 1px solid rgba(0, 0, 0, 0.12);
          // border-radius: 0.25rem;
          // height: 1.75rem;
          // appearance: none;
          @include media(">desktop") {
            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }

      #refreshbutton {
        display: none;
        // @include media(">desktop") {
        //   display: block;
        // }
      }
    }
  }
}
