header {
  border-bottom: 1px solid $text-divider;
  width: 100%;
  background: $white;
  box-shadow: 0px 1px 5px -3px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 1071;
  min-height: 61px;

  .pagetop {
    min-height: 61px;
    nav {
      min-height: 61px;
      display: flex;
      flex-flow: row;
      justify-content: center;
      @include container-fluid;

      @include media(">desktop") {
        @include container;
      }

      &:before {
        position: absolute;
        content: " ";
        right: 0;
        top: 0;
        width: 2rem;
        height: 100%;
        z-index: 2;
        background: linear-gradient(
          270deg,
          $white 0%,
          rgba(255, 255, 255, 0) 100%
        );
      }

      .memberlogo {
        margin-right: 0.5rem;
        display: flex;
        align-items: center;
        height: auto;
        a {
          width: max-content;
          img {
            margin-top: 0;
            outline: none;
            height: 2.4rem;
            width: 2.4rem;

            @include media(">desktop") {
              height: 2rem;
              width: 2rem;
            }
          }
        }
      }

      .membertext {
        display: none;
        @include media(">desktop") {
          display: flex;
          align-items: center;
          letter-spacing: -1px;
          font-style: italic;
          padding: 0.75rem 0;
          margin-right: auto;
          padding: 0;
          font-size: 1.375rem;
        }

        a {
          color: $theme-primary;
        }
      }
      .membertext,
      .memberlogo {
        transition: all 0.15s ease-in-out;
        &:hover {
          opacity: 0.8;
        }
      }

      .navitemsmain {
        overflow: auto;
        position: relative;
        $white-space: nowrap;
        // padding: 0.5rem 0;

        margin-right: -15px;
        display: flex;
        height: auto;
        align-items: center;

        // border-top: 1px solid $text-divider;
        @include media(">tablet") {
          margin: initial;
        }

        @include media(">desktop") {
          border-top: none;
          margin: initial;
        }

        a {
          padding: 0 1rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-shrink: 0;
          box-sizing: content-box;

          @include media(">desktop") {
            padding: 0 0.5rem;
          }
        }
        a {
          &:hover {
            // background-color: rgba(0, 0, 0, 0.06);
            background-color: lighten($theme-primary, 40);
            // border-bottom: 4px solid $text-divider;
          }
        }

        #loggedin {
          height: 100%;
        }
        #loggedout {
          padding: 0;
          display: flex;
          height: 100%;
          align-items: center;
          text-transform: capitalize;
          flex-shrink: 0;
        }

        .headerbuttons {
          display: flex;
          height: 100%;
          align-items: center;

          #balance {
            font-weight: bold;
            padding: 0;
            margin-right: 0.5rem;
            .sats {
              padding: 0;
            }
          }
          #mapbutton {
            margin-right: 0.75rem;
          }

          #mapbutton {
            margin-right: 0.75rem;
          }

          // #tools:target a[href="#toolsbutton"] {
          //   background-color: red;
          // }
        }
      }

      .separatorwide,
      .separatorwidebreakpoint {
        display: none;
      }

      .alertcount {
        background: $theme-danger;
        font-size: 0.6rem;
        border-radius: 1rem;
        padding: 0.1rem 0.2rem !important;
        color: $white;
        font-weight: bold;
        margin-left: 0.25rem;

        top: 0.8rem;
        left: 0.8rem;
        position: absolute !important;
        height: auto !important;

        &:empty {
          display: none !important;
        }
      }

      #notificationsbutton,
      #privatemessagesbutton {
        position: relative;
      }
      .headerbuttons {
        @include media(">desktop") {
          margin-right: auto;
        }
      }
      .btn {
        // margin-right: 0.75rem;
      }

      .topiccontainer {
        display: flex;
        height: 100%;
        align-items: center;

        select {
          margin-right: 0.75rem;
          height: 1.865rem;
          padding: 0.25rem;

          &:first-of-type {
            margin-left: 0.75rem;
          }
          &:last-of-type {
            margin-right: 3rem;
          }

          @include media(">desktop") {
            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }

      #refreshbutton {
        display: none;
        // @include media(">desktop") {
        //   display: block;
        // }
      }
    }
  }
}
