body {
  background: #f7f7f7;
  position: relative;
  scroll-behavior: smooth;

  ::-moz-selection {
    background: rgba(134, 217, 129, 0.6);
  }
  ::selection {
    background: rgba(134, 217, 129, 0.6);
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

.loading {
  background-image: url(../img/puff-loader.svg);
  height: calc(100vh - 61px);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100px 82px;
}

li {
  list-style-type: none;
}
