@mixin container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include media(">desktop") {
    max-width: 1140px;
  }

  @include media(">tablet", "<=desktop") {
    max-width: 960px;
  }

  @include media("<=tablet") {
    max-width: 540px;
  }
}

@mixin container-thin {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include media(">tablet") {
    max-width: 800px;
  }

  @include media("<=tablet") {
    max-width: 540px;
  }
}

// make dat div or img pop bro
@mixin pop {
  outline-offset: -1px;
  outline: 1px solid rgba(0, 0, 0, 0.05);
}

@mixin card {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}
