@mixin container-fluid {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@mixin container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include media(">desktop") {
    max-width: 1140px;
  }

  @include media(">tablet", "<=desktop") {
    max-width: 960px;
  }

  @include media("<=tablet") {
    max-width: 540px;
  }
}

@mixin container-thin {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include media(">tablet") {
    max-width: 800px;
  }

  @include media("<=tablet") {
    max-width: 540px;
  }
}

// make dat div or img pop bro
@mixin pop {
  outline-offset: -1px;
  outline: 1px solid rgba(0, 0, 0, 0.05);
}

@mixin card {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

@mixin qr-box {
  display: inline-block;
  /* margin: 0 auto; */
  padding: 0.75rem;
  border: 2px solid $text-primary;
  border-radius: 0.25rem;
  background: white;

  img {
    height: 140px;
    width: 140px;
  }
}

@mixin btn {
  line-height: 1;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: $post-padding;
  transition: all 0.15s ease-in-out;
  color: white;
  float: right;
  text-transform: uppercase;
  border-radius: 0.25rem;
  border: 1px solid darken($theme-secondary, 10);
  background: $theme-secondary;
  padding: 0.5rem 1.5rem;
  &:hover {
    background: darken($theme-secondary, 10);
  }
  &:disabled {
    opacity: 0.65;
  }
}

@mixin btn-outline {
  line-height: 1;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  color: $theme-secondary;
  text-transform: uppercase;
  border-radius: 0.25rem;
  border: 1px solid $theme-secondary;
  background: transparent;
  padding: 0.5rem 1.5rem;
  &:hover {
    background: lighten($theme-secondary, 50);
  }
  &:disabled {
    opacity: 0.65;
  }
}
