table {
  border-spacing: 0;
  text-align: center;
  margin-bottom: 1rem;
  display: table;
  width: 100%;
  @include media("<desktop") {
    overflow-x: auto;
  }

  thead {
    tr {
      th {
        border-bottom: 1px solid rgba(0, 0, 0, 0.34);
        background: $text-divider;
        padding: 0 0.5rem;
        font-weight: bold;
      }
    }
  }

  tbody {
    tr {
      td {
        border-bottom: 1px solid $text-divider;
        padding: 0.5rem;
      }
      &:nth-child(even) {
        background: lighten($theme-secondary, 50);
      }
    }
  }
}
