img {
  width: 100%;
  height: auto;
}

.jdenticon {
  width: 15px;
  height: 15px;
  margin-bottom: -3px;
  margin-right: 2px;
}

.jdenticonlarge {
  width: 100px;
  height: 100px;
}

/*! Remove newlines for links*/

.post .postdetails .title a[href]:not([href^="#thread?"]) {
  padding-bottom: 0rem;
  display: inline;
}

/*! For deep nesting on narrow screens*/

.comment-tree ul ul ul {
  margin-left: 0.5rem;
}

/*! separate memo / member links on profile page*/
.separatorwide::before {
  content: " ";
}

/*! don't capitalize member.cash */
.header .pagetop nav .membertext {
  text-transform: none;
}

/*! newline after each user search result*/

#usersearchresults br {
  display: inherit;
}

/*! grey out muted users or filtered users/posts in threads*/

.blocked {
  opacity: 0.2;
}
