$arrow-size: 0.875rem;
$post-padding: 0.875rem;

$theme-primary: #4dc846;
$theme-secondary: #44669c;
$theme-danger: #c1292e;

$text-primary: rgba(0, 0, 0, 0.78);
$text-secondary: rgba(0, 0, 0, 0.54);
