$arrow-size: 0.875rem;
$base-padding: 0.875rem;

$theme-primary: #4dc846;
$theme-secondary: #44669c;
$theme-danger: #c1292e;
$theme-warning: #ffe099;

$white: white;
$black: black;

$text-primary: rgba(0, 0, 0, 0.87);
$text-secondary: rgba(0, 0, 0, 0.54);
$text-hint: rgba(0, 0, 0, 0.38);
$text-divider: rgba(0, 0, 0, 0.12);

$font-size-normal: 1rem;
$font-size-small: 0.875rem;
$font-size-tiny: 0.75rem;

$border-radius-regular: 0.25rem;
