#loginbox {
  @include container-thin;
  .content {
    @include card;
    padding: $base-padding * 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    br {
      display: none;
    }
    .loginnotes {
      @include assistive-text;
      a {
        display: block;
        margin-top: $base-padding;
      }
    }
    .loginbutton {
    }
    #newseedphrase {
      border: 1px solid $text-divider;
      background: $theme-warning;
      border-radius: $border-radius-regular;
      padding: $base-padding/2 $base-padding;
      margin: 1rem 0;
    }
  }
}
