#map {
  position: absolute !important;
  height: calc(100vh - 61px);
  top: 61px;
  img {
    outline: none;
  }
  .leaflet-control {
    display: none;
  }
  .leaflet-popup-pane {
    .leaflet-popup {
      .leaflet-popup-content-wrapper {
        @include card;
        margin-bottom: 0;
        border: 0;
        box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
          0 9px 46px 8px rgba(0, 0, 0, 0.12),
          0 11px 15px -7px rgba(0, 0, 0, 0.2);
        .leaflet-popup-content {
          max-height: 400px;
          overflow: scroll;
          margin: 0;
          .postdetails {
            font-weight: bold;
          }
          .comment-tree {
            border: none;
            border-top: 1px solid $text-divider;
            border-radius: 0;
            margin-bottom: 0;

            @include media("<phone") {
              margin-left: 0 !important;
              margin-right: 0 !important;
            }
          }
          #newgeopost {
            padding: $base-padding;
            #login {
              text-align: center;
              display: block;
            }
          }
        }
      }
      a.leaflet-popup-close-button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem;
        border: none;
        text-align: center;
        width: 2rem;
        height: 2rem;
        font-size: 1.4rem;
        color: $text-secondary;
        text-decoration: none;
        font-weight: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          color: $text-primary;
        }

        @include media("<phone") {
          right: -1rem;
        }
      }
    }
  }
}
