#member {
  @include container-thin;
  .content {
    div {
      margin-bottom: 1rem;
    }
    @include card;
    padding: $post-padding * 2;

    .memberrating {
      margin: 0 auto;
      display: table;
    }
  }
}

#ratings {
  @include container-thin;
  .content {
    @include card;
    padding: $post-padding * 2;
  }
}

#trustgraph {
  @include container-thin;
  .content {
    @include card;
    padding: $post-padding * 2;
  }
}

#community {
  @include container-thin;
  .content {
    @include card;
    padding: $post-padding * 2;
  }
}
