#messagesanchor {
  @include container-thin;
  .content {
    @include card;
    padding: $base-padding * 2;
    p {
      color: $text-secondary;
      font-size: $font-size-small;
    }
    #usersearchresults {
      margin-bottom: 2rem;
      br {
        display: none;
      }
      .usersearchresult {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $text-divider;
        padding: 0.5rem 0;
        .hnuser {
          margin-right: 0.5rem;
        }
        a:last-of-type {
          margin-left: auto;
          @include btn-outline;
          padding: 0.5rem 1rem;
          font-size: $font-size-small;
        }
      }
    }
    #sendmessagecontainer {
      label:first-of-type {
        font-size: 1.5rem;
      }
      input,
      textarea {
        margin-bottom: 1rem;
      }
      .messagerecipient {
        font-weight: bold;
      }
      .messageaddress {
        color: $text-secondary;
      }
      .messagepublickey {
        color: $text-secondary;
      }
      #sendmessagebox {
        margin-top: 1rem;
        label:first-of-type {
          font-size: 1rem;
        }
      }
      #newpostmessagecompleted:not(:empty) {
        border: 1px solid $theme-primary;
        background: lighten($theme-primary, 25);
        color: darken($theme-primary, 20);
        justify-content: center;
        align-items: center;
        display: flex;
        padding: $base-padding/2 $base-padding;
        border-radius: $border-radius-regular;
        font-weight: bold;
      }
    }
    #messageslist {
      li {
        // border-bottom: 1px solid $text-divider;
        border: 1px solid $text-divider;
        border-radius: $border-radius-regular;
        padding: $base-padding/2 $base-padding;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 1rem;
        &:last-of-type {
          margin-bottom: 0;
        }

        .hnuser,
        a,
        .age {
          font-size: $font-size-small;
          font-weight: bold;
        }
        [data-ratingsize],
        .hnuser,
        .age {
          color: $text-secondary;
          margin-right: 0.5rem;
        }

        a[href="javascript:;"] {
          margin-left: auto;
          @include btn-outline;
          padding: 0.5rem 1rem;
        }
        // .age {
        //   flex: 1;
        // }
        div:last-of-type {
          margin-top: 0.75rem;
          padding-top: 0.5rem;
          border-top: 1px solid $text-divider;
          width: 100%;
        }
        .star-value {
          margin: 0 !important;
          border: 0 !important;
          padding: 0 !important;
        }
      }
    }
  }
}
