#settingsanchor {
  @include container-thin;
  .content {
    @include card;
    padding: $post-padding * 2;
    div {
      margin-bottom: 1rem;
    }
  }
}

#memberposts {
  @include container-thin;
  .itemlist {
    ol {
      padding: 0;
      margin: 0;

      li {
        list-style-type: none;
        @include card;
      }
    }
  }
}

#cashaddrformatdiv {
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  img {
    outline: none;
  }
}

.profilestats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:first-of-type {
      margin: 0;
    }
  }
}
