@mixin container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include media(">desktop") {
    max-width: 1140px;
  }

  @include media(">tablet", "<=desktop") {
    max-width: 960px;
  }

  @include media("<=tablet") {
    max-width: 540px;
  }
}

@mixin container-thin {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include media(">tablet") {
    max-width: 800px;
  }

  @include media("<=tablet") {
    max-width: 540px;
  }
}

// make dat div or img pop bro
@mixin pop {
  outline-offset: -1px;
  outline: 1px solid rgba(0, 0, 0, 0.05);
}
