#thread {
  @include container-thin;

  .itemlist {
    .fatitem {
      @include card;
    }

    .comment-tree {
      @include card;
      padding: $post-padding/2 0;
      ul {
        padding: 0;
        margin: 0;
        li {
          .reply {
            margin-bottom: $post-padding;
            div:only-child {
              display: flex;
              flex-direction: row;
              .votelinks {
                background: white;
                position: relative;
                &:before {
                  content: "";
                  position: absolute;
                }
                .betweenvotesscoredown,
                .betweenvotesscore,
                .betweenvotesscoreup {
                  display: none;
                }
              }
              .commentdetails {
                padding: $post-padding $post-padding $post-padding 0;
                width: 100%;

                .comhead {
                  font-size: 0.75rem;
                  color: rgba(0, 0, 0, 0.54);
                }
                .comment {
                  font-size: 0.875rem;
                  .commentbody {
                  }
                  .subtextbuttons {
                    font-size: 0.75rem;
                    display: flex;
                    a {
                      margin-right: 0.5rem;
                      color: $text-secondary;
                      &:hover {
                        color: $text-primary;
                      }
                    }
                  }
                }
              }
            }
          }
          ul {
            margin-left: 2.5rem;
            border-left: 1px solid #e6e6e6 !important;
          }
        }
      }
    }
  }
}
